$font-default: "Roboto", sans-serif;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

$font-5: 0.313em;
$font-6: 0.375em;
$font-7: 0.438em;
$font-8: 0.500em;
$font-9: 0.563em;
$font-10: 0.625em;
$font-11: 0.688em;
$font-12: 0.75em;
$font-13: 0.813em;
$font-14: 0.875em;
$font-15: 0.9375em;
$font-16: 1em;
$font-17: 1.063em;
$font-18: 1.125em;
$font-19: 1.188em;
$font-20: 1.25em;
$font-21: 1.313em;
$font-22: 1.375em;
$font-23: 1.438em;
$font-24: 1.5em;
$font-25: 1.563em;
$font-26: 1.625em;
$font-27: 1.688em;
$font-28: 1.750em;
$font-29: 1.813em;
$font-30: 1.875em;
$font-31: 1.938em;
$font-32: 2.000em;
$font-33: 2.063em;
$font-34: 2.125em;
$font-35: 2.188em;
$font-36: 2.250em;
$font-37: 2.313em;
$font-38: 2.375em;
$font-39: 2.438em;
$font-40: 2.500em;
$font-41: 2.563em;
$font-42: 2.625em;
$font-43: 2.688em;
$font-44: 2.750em;
$font-45: 2.813em;
$font-46: 2.875em;
$font-47: 2.938em;
$font-48: 3.000em;
$font-49: 3.063em;
$font-50: 3.125em;
$font-51: 3.188em;
$font-52: 3.250em;
$font-53: 3.313em;
$font-54: 3.375em;
$font-55: 3.438em;
$font-56: 3.500em;
$font-57: 3.563em;
$font-58: 3.625em;
$font-59: 3.688em;
$font-60: 3.750em;
$font-61: 3.813em;
$font-62: 3.875em;
$font-63: 3.938em;
$font-64: 4em;